/* Write your style here */
body {
  display: block;
  margin: 8px;
}

li {
  width: calc(25% - 51px);
  margin: 15px;
  padding: 10px;
  min-width: 350px;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: calc(100% - 41px);
}
img {
  width: 11rem;
  height: auto;
}
